ion-item.item.md.in-list.ion-focusable.hydrated {
    margin-top: 6%;
   
}

.sc-ion-card-md-s ion-list {
    background: #faf7f7;
    border: ridge;
}
span.txtBolder {
    font-weight: bolder;
}
.item-note
{
    color: steelblue;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    color: steelblue;
}
h1{
    color: gray;
}


