<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text color="#ffff">
      <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
      <h3>My name is
        <span class="txt-rotate"  color="primary" font-size="50px" data-period="2000" data-rotate='[ "Thulasizwe" , "Ndlangamandla" , "Julius" ]'></span>
      </h3>
    </ion-text>
  </ion-card>


<ion-card>
  <p>
    I'm a junior Software developer.I was an intern at <ion-text font-weight="bolder" color="dark"><sub>
        <h5>The Digital Academy</h5>
      </sub></ion-text> for 6 months.
    I was a frontend developer.<ion-text color="primary"><i>(Angular cli and Ionic),</i></ion-text>
    <ion-text>We created a mobile App,
      to decrease the amount of queue in a bank branch.</ion-text>
    <ion-text>
      <ion-icon name=""></ion-icon>
    </ion-text>
  </p>
</ion-card>

<ion-card>
  <h2>EDUCATION</h2>
  <h4>Jabulile secondary school:<h6>Matric 2010</h6></h4>
  <h4>Boston City Campus:<h6>Computer Tech</h6><h6>A+</h6><h6>2016/2017</h6></h4>
</ion-card>
</ion-content>